language: go
go:
- '1.10'
script:
- go build -o twi-rpc-client-linux_x64 cmd/twi-rpc-client/*
- GOOS=windows GOARCH=amd64 go build -o twi-rpc-client-x64.exe cmd/twi-rpc-client/*
- GOOS=windows GOARCH=386 go build -o twi-rpc-client-x86.exe cmd/twi-rpc-client/*
- go build -o twi-rpc-server cmd/twi-rpc-server/*
- go test -v ./...
deploy:
  provider: releases
  api_key:
    secure: OcoKtUGajSEksYDyW2b6ujhN+Cngb8Uk7HOgapDJ7eUJ9d9WlQIqOGlVpnV65zzsSJQse+qtRFeAnbE3pxYw4/Yl7dIrE6gdwuWxVxbVJtGWHLl5tHZZdPbXBZzgRQF472Gf86beaJvWejOdrSdcjLgy6MljsO8toj+BqqTSVbAM7Wcdtnv+SekGqIRe4ErUgAAP0hUfezKuZlj8Y+caIKmN418VU9NWnY4LpA4M+e9KQ9sgOGC/c7bgvRcwDfn/lQks5/z4sb1BmjpZgPmjo5AARBd+u7s1ctoqtoHdOeMgmijKYJFUek1/9DTH3t2OWb7jb258ET9sikhZsMCih4kZI+/WunuqX0++RHb8U95NuM89MwrM5YSBhY3/t0Aty0Mo9sT9F803YYOTW1XBTsI5aYhk4/WKIgqmusHJBbKMT/wnd0peJVVGNufhghOrmbniTOLCzehHbMi7ODmGoOb1t4NEiecsfbpFlNypmu/KnrIU92LjD4UC+vQ+BPTJBsqbuSM4DwQD+YBukDFZtN5eXGF4NnU1US4bWyvjGczoxy3mIes5g4o9sfcBwZ9a89IMSOxQNmFQ42xmGFehyTrK0xW/XoqnJHPyDGa1J7OSWA/zoE0MIX8yl8r03qaGqyOA1fCOVYsiMSgLATUbGlPbGOqlPa5XuU2o8/7/6IM=
  file: 
  - twi-rpc-client-x64.exe
  - twi-rpc-client-x86.exe
  skip_cleanup: true
  on:
    tags: true
    repo: natsukagami/themis-web-interface-rpc
